/* line 27, ../Sass/style.scss */
.angular-cards,
.card-examples {
  display: flex;
  justify-content: space-between;
  clear: left;
  flex-wrap: wrap;
}
/* line 33, ../Sass/style.scss */
.angular-cards .card,
.card-examples .card {
  transition: all 5s ease-in;
  height: 18em;
  width: 12em;
  background: #e5e5e5;
  box-shadow: 0 20px 13px -10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  margin-bottom: 4em;
  overflow: hidden;
}
/* line 44, ../Sass/style.scss */
.angular-cards .card.landscape,
.card-examples .card.landscape {
  height: 12em;
  width: 18em;
}
/* line 48, ../Sass/style.scss */
.angular-cards .card.square,
.card-examples .card.square {
  width: 18em;
  height: 18em;
}
/* line 52, ../Sass/style.scss */
.angular-cards .card.rounded,
.card-examples .card.rounded {
  border-radius: 5px;
}
/* line 56, ../Sass/style.scss */
.angular-cards .card.opensans,
.card-examples .card.opensans {
  font-family: "Open Sans", sans-serif;
}
/* line 59, ../Sass/style.scss */
.angular-cards .card.lato,
.card-examples .card.lato {
  font-family: "Lato", sans-serif;
}
/* line 62, ../Sass/style.scss */
.angular-cards .card.montserrat,
.card-examples .card.montserrat {
  font-family: "Montserrat", sans-serif;
}
/* line 65, ../Sass/style.scss */
.angular-cards .card.handlee,
.card-examples .card.handlee {
  font-family: "Handlee", cursive;
}
/* line 68, ../Sass/style.scss */
.angular-cards .card.gloria,
.card-examples .card.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
/* line 72, ../Sass/style.scss */
.angular-cards .card.image-grass,
.card-examples .card.image-grass {
  background: url("../images/gras.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 78, ../Sass/style.scss */
.angular-cards .card.image-moon,
.card-examples .card.image-moon {
  background: url("../images/moon_and_stars.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 84, ../Sass/style.scss */
.angular-cards .card.image-skyscraper,
.card-examples .card.image-skyscraper {
  background: url("../images/skyscraper.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 90, ../Sass/style.scss */
.angular-cards .card.image-winter,
.card-examples .card.image-winter {
  background: url("../images/winter.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 96, ../Sass/style.scss */
.angular-cards .card .fold,
.card-examples .card .fold {
  position: absolute;
  top: 50%;
  display: block;
  height: 60%;
  width: 100%;
}
/* line 102, ../Sass/style.scss */
.angular-cards .card .fold.green,
.card-examples .card .fold.green {
  background: #3aad3a;
  border-top: #2b802b solid 5px;
}
/* line 105, ../Sass/style.scss */
.angular-cards .card .fold.red,
.card-examples .card .fold.red {
  background: #c63a3a;
  border-top: #9f2c2c solid 5px;
}
/* line 108, ../Sass/style.scss */
.angular-cards .card .fold.blue,
.card-examples .card .fold.blue {
  background: #415be8;
  border-top: #2b4c80 solid 5px;
}
/* line 111, ../Sass/style.scss */
.angular-cards .card .fold.special,
.card-examples .card .fold.special {
  background: linear-gradient(45deg, #415BE7 0%, #415be8 10%, #c8b423 10%, #c8b423 20%, #415be8 20%, #415be8 30%, #c8b423 30%, #c8b423 40%, #415BE7 40%, #415be8 50%, #c8b423 50%, #c8b423 60%, #415be8 60%, #415be8 70%, #c8b423 70%, #c8b423 80%, #415BE7 80%, #415be8 90%, #c8b423 90%, #c8b423 100%);
  border-top: #2b4c80 solid 5px;
}
/* line 114, ../Sass/style.scss */
.angular-cards .card .fold .icon,
.card-examples .card .fold .icon {
  margin-top: -30px;
}
/* line 116, ../Sass/style.scss */
.angular-cards .card .fold .icon i,
.card-examples .card .fold .icon i {
  font-size: 2.4em;
  background: #fff;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  border: #999 thin solid;
  color: goldenrod;
  box-shadow: 0 20px 13px -10px rgba(0, 0, 0, 0.5);
}
/* line 129, ../Sass/style.scss */
.angular-cards .card h1,
.card-examples .card h1 {
  font-size: 1.8em;
  text-shadow: 1px 1px 3px #fff;
}
/* line 133, ../Sass/style.scss */
.angular-cards .card p.white,
.card-examples .card p.white {
  color: #fff;
  padding: 0.5em;
}

/* line 139, ../Sass/style.scss */
.CTAdiv {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.5) 94%);
  text-align: center;
  padding: 1em;
}

/* line 145, ../Sass/style.scss */
.addCards img.imgexample {
  margin-right: 30px;
}
/* line 148, ../Sass/style.scss */
.addCards .colorsample {
  height: 50px;
  width: 66.8px;
  background: blue;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}
/* line 155, ../Sass/style.scss */
.addCards .colorsample.red {
  background: #c63a3a;
  border-top: #9f2c2c solid 5px;
}
/* line 158, ../Sass/style.scss */
.addCards .colorsample.blue {
  background: #415be8;
  border-top: #2b4c80 solid 5px;
}
/* line 161, ../Sass/style.scss */
.addCards .colorsample.green {
  background: #3aad3a;
  border-top: #2b802b solid 5px;
}
/* line 164, ../Sass/style.scss */
.addCards .colorsample.special {
  background: linear-gradient(45deg, #415BE7 0%, #415be8 10%, #c8b423 10%, #c8b423 20%, #415be8 20%, #415be8 30%, #c8b423 30%, #c8b423 40%, #415BE7 40%, #415be8 50%, #c8b423 50%, #c8b423 60%, #415be8 60%, #415be8 70%, #c8b423 70%, #c8b423 80%, #415BE7 80%, #415be8 90%, #c8b423 90%, #c8b423 100%);
  border-top: #2b4c80 solid 5px;
}
/* line 168, ../Sass/style.scss */
.addCards p.example {
  margin-left: 2em;
  color: #337AB7;
  float: right;
}
/* line 172, ../Sass/style.scss */
.addCards p.example.lato {
  font-family: "Lato", sans-serif;
}
/* line 175, ../Sass/style.scss */
.addCards p.example.montserrat {
  font-family: "Montserrat", sans-serif;
}
/* line 178, ../Sass/style.scss */
.addCards p.example.handlee {
  font-family: "Handlee", cursive;
}
/* line 181, ../Sass/style.scss */
.addCards p.example.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
/* line 185, ../Sass/style.scss */
.addCards .well {
  transition: all 5s ease-in;
}
