/* line 33, ../Sass/style.scss */
.card-examples,
.angular-cards {
  display: flex;
  justify-content: space-between;
  clear: left;
  flex-wrap: wrap;
}
/* line 39, ../Sass/style.scss */
.card-examples .card,
.angular-cards .card {
  height: 18em;
  width: 12em;
  background: #e5e5e5;
  box-shadow: 0px 20px 13px -10px rgba(0, 0, 0, 0.5);
  text-align: center;
  position: relative;
  margin-bottom: 4em;
  overflow: hidden;
}
/* line 49, ../Sass/style.scss */
.card-examples .card.landscape,
.angular-cards .card.landscape {
  height: 12em;
  width: 18em;
}
/* line 53, ../Sass/style.scss */
.card-examples .card.square,
.angular-cards .card.square {
  width: 18em;
  height: 18em;
}
/* line 57, ../Sass/style.scss */
.card-examples .card.rounded,
.angular-cards .card.rounded {
  border-radius: 5px;
}
/* line 61, ../Sass/style.scss */
.card-examples .card.opensans,
.angular-cards .card.opensans {
  font-family: "Open Sans", sans-serif;
}
/* line 64, ../Sass/style.scss */
.card-examples .card.lato,
.angular-cards .card.lato {
  font-family: "Lato", sans-serif;
}
/* line 67, ../Sass/style.scss */
.card-examples .card.montserrat,
.angular-cards .card.montserrat {
  font-family: "Montserrat", sans-serif;
}
/* line 70, ../Sass/style.scss */
.card-examples .card.handlee,
.angular-cards .card.handlee {
  font-family: "Handlee", cursive;
}
/* line 73, ../Sass/style.scss */
.card-examples .card.gloria,
.angular-cards .card.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
/* line 77, ../Sass/style.scss */
.card-examples .card.image-grass,
.angular-cards .card.image-grass {
  background: url(../images/gras.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 83, ../Sass/style.scss */
.card-examples .card.image-moon,
.angular-cards .card.image-moon {
  background: url(../images/moon_and_stars.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 89, ../Sass/style.scss */
.card-examples .card.image-skyscraper,
.angular-cards .card.image-skyscraper {
  background: url(../images/skyscraper.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 95, ../Sass/style.scss */
.card-examples .card.image-winter,
.angular-cards .card.image-winter {
  background: url(../images/winter.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 101, ../Sass/style.scss */
.card-examples .card .fold,
.angular-cards .card .fold {
  position: absolute;
  top: 50%;
  display: block;
  height: 60%;
  width: 100%;
}
/* line 107, ../Sass/style.scss */
.card-examples .card .fold.green,
.angular-cards .card .fold.green {
  background: #3aad3a;
  border-top: #2b802b solid 5px;
}
/* line 110, ../Sass/style.scss */
.card-examples .card .fold.red,
.angular-cards .card .fold.red {
  background: #c63a3a;
  border-top: #9f2c2c solid 5px;
}
/* line 113, ../Sass/style.scss */
.card-examples .card .fold.blue,
.angular-cards .card .fold.blue {
  background: #415be8;
  border-top: #2b4c80 solid 5px;
}
/* line 116, ../Sass/style.scss */
.card-examples .card .fold.special,
.angular-cards .card .fold.special {
  background: linear-gradient(45deg, #415BE7 0%, #415be8 10%, #c8b423 10%, #c8b423 20%, #415be8 20%, #415be8 30%, #c8b423 30%, #c8b423 40%, #415BE7 40%, #415be8 50%, #c8b423 50%, #c8b423 60%, #415be8 60%, #415be8 70%, #c8b423 70%, #c8b423 80%, #415BE7 80%, #415be8 90%, #c8b423 90%, #c8b423 100%);
  border-top: #2b4c80 solid 5px;
}
/* line 119, ../Sass/style.scss */
.card-examples .card .fold .icon,
.angular-cards .card .fold .icon {
  margin-top: -30px;
}
/* line 121, ../Sass/style.scss */
.card-examples .card .fold .icon i,
.angular-cards .card .fold .icon i {
  font-size: 2.4em;
  background: #fff;
  border-radius: 50%;
  width: 1.6em;
  height: 1.6em;
  line-height: 1.6em;
  border: #999 thin solid;
  color: goldenrod;
  box-shadow: 0px 20px 13px -10px rgba(0, 0, 0, 0.5);
}
/* line 134, ../Sass/style.scss */
.card-examples .card h1,
.angular-cards .card h1 {
  font-size: 1.8em;
  text-shadow: 1px 1px 3px #fff;
}
/* line 138, ../Sass/style.scss */
.card-examples .card p.white,
.angular-cards .card p.white {
  color: #fff;
  padding: 0.5em;
}

/* line 146, ../Sass/style.scss */
.addCards img.imgexample {
  margin-right: 30px;
}
/* line 149, ../Sass/style.scss */
.addCards .colorsample {
  height: 50px;
  width: 66.8px;
  background: blue;
  margin-right: 30px;
  display: inline-block;
  vertical-align: middle;
}
/* line 156, ../Sass/style.scss */
.addCards .colorsample.red {
  background: #c63a3a;
  border-top: #9f2c2c solid 5px;
}
/* line 159, ../Sass/style.scss */
.addCards .colorsample.blue {
  background: #415be8;
  border-top: #2b4c80 solid 5px;
}
/* line 162, ../Sass/style.scss */
.addCards .colorsample.green {
  background: #3aad3a;
  border-top: #2b802b solid 5px;
}
/* line 165, ../Sass/style.scss */
.addCards .colorsample.special {
  background: linear-gradient(45deg, #415BE7 0%, #415be8 10%, #c8b423 10%, #c8b423 20%, #415be8 20%, #415be8 30%, #c8b423 30%, #c8b423 40%, #415BE7 40%, #415be8 50%, #c8b423 50%, #c8b423 60%, #415be8 60%, #415be8 70%, #c8b423 70%, #c8b423 80%, #415BE7 80%, #415be8 90%, #c8b423 90%, #c8b423 100%);
  border-top: #2b4c80 solid 5px;
}
/* line 169, ../Sass/style.scss */
.addCards p.example {
  margin-left: 2em;
  color: #337AB7;
  float: right;
}
/* line 173, ../Sass/style.scss */
.addCards p.example.lato {
  font-family: "Lato", sans-serif;
}
/* line 176, ../Sass/style.scss */
.addCards p.example.montserrat {
  font-family: "Montserrat", sans-serif;
}
/* line 179, ../Sass/style.scss */
.addCards p.example.handlee {
  font-family: "Handlee", cursive;
}
/* line 182, ../Sass/style.scss */
.addCards p.example.gloria {
  font-family: "Gloria Hallelujah", cursive;
}
